@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* fonts, colours,   */
body {
    font-family: 'Poppins', sans-serif;
}


/* navigation bar  */

.backgroundcolor {
    background: #fceeedfd;
}


.navbar .brand-logo {
    font-size: 3rem;
}

.sidenav {
    background-color: #fceeedfd;
}

.flashes h4 {
    line-height: 2;
}


.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

/* Header */

.page-underline {
    height: 1px;
    margin-top: 15px;
}


/* Buttons */
.btn-view {
    background-color: #fceeedfd;
}

.btn-small {
    margin: 5px;
}


/* images */

.card .card-image img {
    object-fit: contain;
    width: 100%;
    height: 280px;
}

.recipe-img {
    width: 50vh;
    height: auto;
}

@media screen and (max-width: 767px){   
    .recipe-img{      
        width: 70%;
    } 
}

.image_utensil {
    width: 70vh;
    height: auto;
}


@media screen and (max-width: 767px){   
    .image_utensil{      
        width: 70%;
    } 
}


