@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* fonts, colours,   */
body {
    font-family: 'Poppins', sans-serif;
}


/* navigation bar  */

.backgroundcolor {
    background: #fceeedfd;
}


.navbar .brand-logo {
    font-size: 3rem;
}

.sidenav {
    background-color: #fceeedfd;
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}


/* utensil.html */
.image_utensil {
    width: 500px;
    height: auto;
}

/* Buttons utensil.htm and recipes.html*/
.btn-view {
    background-color: #fceeedfd;
}




