{% extends "base.html"%}
{% block content %}

    {% for recipe in recipes %}
        {{ recipe.category_name }}<br>
        {{ recipe.recipe_name }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.serves }}<br>
        {{ recipe.method }}<br>
        {{ recipe.image_url }}<br>
    {% endfor %}

    <ul class="collapsible">
        <li>
            <div class="collapsible-header backgroundcolor"><i class="fas fa-caret-down"></i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header backgroundcolor"><i class="fas fa-caret-down"></i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header backgroundcolor"><i class="fas fa-caret-down"></i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>

    
{% endblock %}