{% extends "base.html"%}
{% block content %}

<h3 class="black-text backgroundcolor center-align">All Recipes</h3>
    

    <ul class="collapsible">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header backgroundcolor">
                <i class="fas fa-caret-down"></i>
                <strong>{{ recipe.category_name }}</strong> : {{ recipe.recipe_name }}
            </div>
            <div class="collapsible-body">
                <strong>{{ recipe.recipe_name }}</strong>
                <p>{{ recipe.serves }}</p>
                <p>{{ recipe.ingredients }}</p>
                <p>{{ recipe.method }}</p>
                <p>{{ recipe.image_url }}</p> <!--THIS NEEDS CHANGING TO THE CORRECT LOCATION-->
                <p><em>by: {{ recipe.created_by }}</em></p>

            </div>
        </li>
        {% endfor %}
    </ul>

    
{% endblock %}