{% extends "base.html"%}
{% block content %}

<!-- Page Title -->
<h4 class="black-text center-align">All Utensils
    <hr class="backgroundcolor page-underline s8 m8 l8">
</h4>


<!-- Search bar -->
<div class="row card-panel grey lighten-5">
    <form action="{{ url_for('search_utensil') }}" method="post" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m6">
                <i class="fas fa-search prefix black-text"></i>
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                <label for="query">Search</label>
            </div>
            <div class="col s12 m6">
                <a href="{{ url_for('utensils') }}" class="red btn text-shadow">Reset</a>
                <button type="submit" class="btn text-shadow">
                    <i class="fas fa-search left"></i> Search
                </button>
            </div>
        </div>
    </form>
</div>

<!-- Utensils -->
{% if utensils|length > 0 %}
    <div class="row">
        {% for utensil in utensils %}
        <div class="col s12 m6">
          <div class="card hoverable">
            <div class="card-image">
                    <img src="{{ utensil.utensil_image }}" alt="{{ utensil.utensil_name }}">
                <span class="card-title">{{ utensil.utensil_name }}</span>
            </div>
            <div class="card-content">
              <p>
                {{- utensil.utensil_details -}}
              </p>
            </div>
            <div class="card-action">
              <a href="{{url_for('utensil', utensil_id=utensil._id)}}">View Utensil</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
</div>
{% else %}
    <b><h4 class="text-darken-4 center-align">
        <i class="fas fa-frown text-darken-4"></i> No Utensils Found</h4></b>
{% endif %}



{% endblock %}